#theCanvas {
	border: 1px solid #EBE7D9;
	width: 400px;
	height: 300px;
}

.pwColor {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 2px solid black;
}

input.lineWidthSelector.ng-pristine.ng-untouched.ng-valid.ng-empty {
	width: inherit;
}
