* {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
}

body {
	background-color: #FFF9EC;
	font-family: 'Amatic SC', cursive;
}

#theCanvas, #theCanvasTmp {
	border: 1px solid #EBE7D9;
	width: 400px;
	height: 300px;
	cursor: url(https://www.cursor.cc/cursor/99/9/cursor.png) 0 0, pointer;
}

.pwColor {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 2px solid black;
}

.inputEdit {
	font-size: 26px;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
  padding-left: 28%;
}

#frame {
	background-color: #FFFFFF;
	width: 400px;
	height: 300px;
	margin: 10px;
}

.jumbotron {
	background: #7F7C76;
	color: #FFFFFF;
}

ul.pwColorSelector {
  padding-right: 3%;
}

input.lineWidthSelector {
	width: 25%;
	margin-bottom: 15px;
}

.modal-content {
  text-align: center;
}

.modal-header {
  text-align: left;
	background-color: #CCC7BD;
}

.modal-footer {
	background-color: #CCC7BD;
}

button.btn.btn-warning, button.btn.btn-danger, button.btn.btn-success, button.btn.btn-info {
  float: left;
}

button.btn {
  margin-left: 10px;
}

h2 {
  margin-left: 15px;
}

#thumbnails {
	margin: 20px;
}

.thumbnail {
	cursor: pointer;
}

#celeb {
	width: 50%;
	height: 50%;
}

#showcaseImg {
	border: 1px solid #000000;
}

button.btn.btn-default.btn-lg {
  font-size: 75px;
}

.jumbotron {
  text-align: center;
}

.form-control {
  font-size: 24px;
}

h3.modal-title.ng-binding {
  font-size: 36px;
}

h5.modal-artist.ng-binding {
  font-size: 24px;
}

button.btn.btn-default {
  font-size: 16px;
}

div#easel {
  text-align: -webkit-center;
}